<div *ngIf="todo" class="todo" [ngClass]="{ completed: todo.finished }">
  <div class="view">
    <input class="toggle" type="checkbox" [(ngModel)]="todo.finished" />
    <label>{{ todo.text }}</label>
    <button class="destroy" (click)="delete()"></button>
  </div>
</div>
