<section class="todoapp">
  <header>
    <h1>{{ title }}</h1>
    <div class="todo-form">
      <input
        class="new-todo"
        type="text"
        [(ngModel)]="newValue"
        (keydown.enter)="add()"
      />
    </div>
  </header>
  <section class="main">
    <ul class="todo-list">
      <li *ngFor="let todo of todos">
        <app-list-item
          [todo]="todo"
          (deleted)="delete(todo)"
          (toggled)="toggle(todo)"
        ></app-list-item>
      </li>
    </ul>
  </section>
</section>
